{% extends 'base/base.html' %}
{% block title %}
Home
{% endblock %}
{% block body %}
<div class="flex flex-wrap">
    {% for cat in cats %}
    <div class="flex flex-col min-w-full">
        <div class="p-2 bg-black text-white">
            <h1 class="font-bold"> {{cat.name|title}} </h1>
        </div>
        {% for subcat in cat.category_subs.all %}
        {% with subcat.sub_products.all|slice:":10" as items %}
        {% if items %}
        <div class="flex items-center justify-center flex-wrap p-4">
            {% for item in subcat.sub_products.all|slice:":10" %}
            {% include 'shop/base/item.html' %}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}